# WEEK-7 Programs & Practice

In [40]:
# an example Employee class to demonstrate the class and objects
class employee:
    def set_data(self,n,a,s):
        self._name = n
        self._age = a
        self._salary = s
    def display_data(self):
        print('Name    : ',self._name)
        print('Age     : ',self._age)
        print('Salary  : ',self._salary)

In [41]:
# creates onjects of employee class
e1 = employee()
e1.set_data('Chandu',25,15000)
e2 = employee()
e2.set_data('Marif',25,40000)

e1.display_data()
e2.display_data()

Name    :  Chandu
Age     :  25
Salary  :  15000
Name    :  Marif
Age     :  25
Salary  :  40000

In [42]:
# __init__() and __del__() example

class employee1:
    def __init__(self,n='N/A',a=0,s=0.0):
        self._name = n
        self._age = a
        self._salary = s
    def set_data(self,n,a,s):
        self._name = n
        self._age = a
        self._salary = s
    def display_data(self):
        print('Name    : ',self._name)
        print('Age     : ',self._age)
        print('Salary  : ',self._salary)
    def __del__(self):
        print('Deleting the object : ',str(self))

In [43]:
e1 = employee1('Mahesh',24,60000)
e1.display_data()
e2 = employee1()
e2.display_data()
e3 = employee1('Sanjay',24,75000)
e3.display_data()

Name    :  Mahesh
Age     :  24
Salary  :  60000
Name    :  N/A
Age     :  0
Salary  :  0.0
Name    :  Sanjay
Age     :  24
Salary  :  75000

In [44]:
# Demonostrate class variable and class method


class Employee2:
    instance_count = 0
    def __init__(self,n='N/A',a=0,s=0.0):
        Employee2.increment_instance_count()
        self._name = n
        self._age = a
        self._salary = s
    def set_data(self,n,a,s):
        self._name = n
        self._age = a
        self._salary = s
    def display_data(self):
        print('Name    : ',self._name)
        print('Age     : ',self._age)
        print('Salary  : ',self._salary)
    @classmethod
    def increment_instance_count(cls):
        cls.instance_count +=1

In [45]:
e1 = Employee2()
e2 = Employee2('Chandu',26,35000)
e3 = Employee2('Marif',25,40000)
print('Number of Employee objects are created : ',Employee2.instance_count)

Deleting the object :  <__main__.employee1 object at 0x000002565A1226D0>
Deleting the object :  <__main__.employee1 object at 0x000002565A122F70>
Deleting the object :  <__main__.employee1 object at 0x000002565A1222B0>
Number of Employee objects are created :  3

In [46]:
# vars() and dir() examples
vars(Employee2)

mappingproxy({'__module__': '__main__',
              'instance_count': 3,
              '__init__': <function __main__.Employee2.__init__(self, n='N/A', a=0, s=0.0)>,
              'set_data': <function __main__.Employee2.set_data(self, n, a, s)>,
              'display_data': <function __main__.Employee2.display_data(self)>,
              'increment_instance_count': <classmethod at 0x2565b517670>,
              '__dict__': <attribute '__dict__' of 'Employee2' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee2' objects>,
              '__doc__': None})

In [47]:
dir(e1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_age',
 '_name',
 '_salary',
 'display_data',
 'increment_instance_count',
 'instance_count',
 'set_data']

In [48]:
dir(Employee2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'display_data',
 'increment_instance_count',
 'instance_count',
 'set_data']

In [49]:
# implement operator overloading on the quantithy class
class Quantity:
    def __init__(self,v=0):
        self._value = v
    def __add__(self,other):
        new_value=self._value + other._value
        return Quantity(new_value)
    def __sub__(self,other):
        new_value=self._value - other._value
        return Quantity(new_value)
    def __pow__(self,other):
        new_value=self._value ** other._value
        return Quantity(new_value)
    def __lt__(self,other):
        new_value = self._value < other._value
        return Quantity(new_value)
    def __str__(self):
        return str(self._value)

In [50]:
q1 = Quantity(12)
q2 = Quantity(18)
q3 = Quantity()
print('Q1 = ',q1)
print("Q2 = ",q2)
q3 = q1+q2
print('the sum = ',q3)
q4 = q1-q2
print("the sub = ",q4)
q5 = q1 ** q2
print('The power of ',q1,'&',q2,'is :',q5)

if q1<q2:
    print(q1,'is lessthan ',q2)
    

q6 = q1<q2
print(q1,'is lessthan ',q2,'is :',q6)

Q1 =  12
Q2 =  18
the sum =  30
the sub =  -6
The power of  12 & 18 is : 26623333280885243904
12 is lessthan  18
12 is lessthan  18 is : True

In [51]:
# an example to demonstrate Containership
class Department:
    def set_department(self):
        self._id = input('Enter Department ID :')
        self._name = input('Enter Department Name :')
    def display_department(self):
        print('Department Id : ',self._id)
        print('Department Name :',self._name)
class Employee4:
    def set_employee(self):
        self._eid = input('Enter Employee ID :')
        self._ename = input('Enter Employee Name :')
        self._dept = Department()
        self._dept.set_department()
    def diaplay_employee(self):
        print('Employee ID : ',self._eid)
        print('Employee Name : ',self._ename)
        self._dept.display_department()

In [52]:
emp = Employee4()
emp.set_employee()
print('-'*40)
emp.diaplay_employee()

Enter Employee ID :12
Enter Employee Name :1542
Enter Department ID :58451
Enter Department Name :1585206
----------------------------------------
Employee ID :  12
Employee Name :  1542
Department Id :  58451
Department Name : 1585206

In [53]:
# Class inheritance
#Parent class / super /base class

class Person:
    def __init__(self,n,a):
        self._name = n
        self._age = a
    def birthday(self):
        print('Happy Birthday, you were : ',self._age)
        self._age += 1
        print('Now you are ',self._age,'years old')
    def __str__(self):
        return self._name + ' is '+ str(self._age) +' years old'

In [54]:
# Child class / sub class / derived clas

class Employee5(Person):
    def __init__(self,n,a,i):
        super().__init__(n,a)      #invoking __init__ from parent class
        self._id = i
    def calculate_pay(self,hours_worked):
        rate_of_pay = 7.50
        if self._age >= 21:
            rate_of_pay += 2.50
        return hours_worked * rate_of_pay

In [55]:
print('A person object only')
p = Person('Chandu',25)
print('The person object p is: ',p)
print('-'*50)
print("Employee object")

e = Employee5('Marif',25,2000)

e.birthday()

print(e,'pay of employee for 40 hours is :',e.calculate_pay(40))
print('-'*50)

A person object only
The person object p is:  Chandu is 25 years old
--------------------------------------------------
Employee object
Happy Birthday, you were :  25
Now you are  26 years old
Marif is 26 years old pay of employee for 40 hours is : 400.0
--------------------------------------------------

In [56]:
# inherit form employee 5 class
class SalesPerson(Employee5):
    def __init__(self,n,a,i,r,s):
        super().__init__(n,a,i)
        self._region = r
        self._sales = s
    def bonus(self):
        return self._sales * 0.5

In [60]:
print("Sales person object")
s = SalesPerson('Lokesh',25,4712,'Canada',48000)
s.birthday()
print(s,' Pay for this object for 40 hours is :',s.calculate_pay(40))
print('Bonus is :',s.bonus())

Sales person object
Happy Birthday, you were :  25
Now you are  26 years old
Lokesh is 26 years old  Pay for this object for 40 hours is : 400.0
Bonus is : 24000.0