## Week - 2 Strings

In [1]:
str1 = 'Hello World'
str2 = 'Strings concept single line and multi line'
str3 = '''
        Multi line string 
        this is the 3rd string
        '''
print('The first string is : ', str1)
print('The Second string is : ', str2)
print('The Third string is : ', str3)

print('The Data type of string 1 is: ',type(str1))
print('The Data type of string 2 is: ',type(str2))
print('The Data type of string 3 is: ',type(str3))

The first string is :  Hello World
The Second string is :  Strings concept single line and multi line
The Third string is :
        Multi line string
        this is the 3rd string

The Data type of string 1 is:  <class 'str'>
The Data type of string 2 is:  <class 'str'>
The Data type of string 3 is:  <class 'str'>

 ## Concatenation of Strings

In [2]:
str4 = 'Have a '
str5 = 'good day'
str6 = str4 + str5
print("The result of concatenation of strings 4 and 5 is : ",str6)

#or we can write like this

print('hello' + ' World')

The result of concatenation of strings 4 and 5 is :  Have a good day
hello World

In [3]:
# len() performs the find the length of a given data structure

print(len(str6))
 
#or 

print("The length of string 6 is : ",len(str6))

# or we can write like this

print("The length of hello world is : ",len('Hello World'))

15
The length of string 6 is :  15
The length of hello world is :  11

In [ ]:
# Accessing a string character

print(str6)
print('The third character of str6 is : ',str6[2])
print('The sixth character of str6 is : ',str6[5])

# slicing operations : accessing a group of characters
my_str ="Hello world!"
print(my_str[4])
print(my_str[1:5])
print(my_str[:5])
print(my_str[2:])
print(my_str[:])

Have a good day
The third character of str6 is :  v
The sixth character of str6 is :  a
o
ello
Hello
llo world!
Hello world!

In [ ]:
# Repeating strings
str7 = '*' * 10
print(str7)
print("Hello " * 5)

**********
Hello Hello Hello Hello Hello

In [ ]:
#Split() on strings

string_1 = "Welcome, to the exciting world, of python programming"
print('The original string is : ',string_1)
print('The split using comma : ',string_1.split(','))

string_2 = "Welcome: to the exciting world: of python programming"
print('The original string is : ',string_2)
print('The split using comma : ',string_2.split(':'))
print('The split using SPACE : ',string_2.split(' '))

The original string is :  Welcome, to the exciting world, of python programming
The split using comma :  ['Welcome', ' to the exciting world', ' of python programming']
The original string is :  Welcome: to the exciting world: of python programming
The split using comma :  ['Welcome', ' to the exciting world', ' of python programming']
The split using SPACE :  ['Welcome:', 'to', 'the', 'exciting', 'world:', 'of', 'python', 'programming']

In [ ]:
#count
my_string = "Count,, the number of spaces "
print("No of spaces in my_string : ",my_string.count(' '))
print("No of a's in my_string : ",my_string.count('a'))

No of spaces in my_string :  5
No of a's in my_string :  1

In [ ]:
# Replace 
welcome_message = "Hello world!"
str1 = welcome_message.replace('Hello',"bye")
print('str1 after replacing : ',str1)

str1 after replacing :  bye world!

In [ ]:
#Find operation
string_1 = "Welcome, to the exciting world, to python programming"
print(string_1.find('to'))
print(string_1.find('python'))
print(string_1.find('java'))
print(string_1.find('bye'))

9
35
-1
-1

In [ ]:
#String comparision
str1 = "James"
str2 = "jones"
print(str1 == str2)
print(str1 != str2)

False
True

In [ ]:
#Stratswith()
str1 = "Hello World!"
print("The string str1 is : ",str1)
print("str1.startswith('H')",str1.startswith('H'))
print("str1.startswith('h')",str1.startswith('h'))

The strng str1 is :  Hello World!
str1.startswith('H') True
str1.startswith('h') False

In [ ]:
#endswith
print("str1.endswith('d')",str1.endswith('d'))
print("str1.endswith('!')",str1.endswith('!'))

str1.endswith('d') False
str1.endswith('!') True

In [ ]:
#is title
print(str1)
print("str1.istitile()",str1.istitle())
str2 = "Hello world!"
print("str2.istitile()",str2.istitle())

Hello World!
str1.istitile() True
str2.istitile() False

In [ ]:
#is lower()  #is upper()
str3 = "HELLO WORLD"
print("Str1.islower() : ",str1.islower())
print("Str2.islower() : ",str2.islower())
print("Str3.isUPPER() : ",str3.isupper())

Str1.islower() :  False
Str2.islower() :  False
Str3.isUPPER() :  True

In [ ]:
#is alpha
str4 = "HELLOWORLD"
print(str1,'\n',str2,'\n',str3,"\n",str4)
print("Str1.isalpha() : ",str1.isalpha())
print("Str2.isalpha() : ",str2.isalpha())
print("Str3.isalpha() : ",str3.isalpha())
print("Str4.isalpha() : ",str4.isalpha())

Hello World!
 Hello world!
 HELLO WORLD
 HELLOWORLD
Str1.isalpha() :  False
Str2.isalpha() :  False
Str3.isalpha() :  False
Str4.isalpha() :  True

In [ ]:
#Upper #lower
print('Str2 :',str2)
print("str2.upper() :",str2.upper())
print("str2.lower() :",str2.lower())

Str2 : Hello world!
str2.upper() : HELLO WORLD!
str2.lower() : hello world!

In [ ]:
#title => first letter of the each word is in upper case
str2 = "hello world"
print(str2)
print('str2.title() :',str2.title())

hello world
str2.title() : Hello World

In [ ]:
#Swapcase => swaps every letter in string from upper to lower and lower to upper
str3 = "Good Day"
print(str3)
print("str3.swapcase():",str3.swapcase())

Good Day
str3.swapcase(): gOOD dAY

In [ ]:
#Strip => to remove extra spaces i  starting and ending of a string
str2 = "         Hello world!       "
print(str2)
print("Str2.strip():",str2.strip())

         Hello world!
Str2.strip(): Hello world!

# Relational operators ( < , > , <= , >= , == , != )

In [ ]:
a = 10
b = 20
c = 30
print('a>b : ', a>b)
print('a<b : ', a<b)
print('c<=b : ', c<=b)
print('a<=b : ', a<=b)
print('b==c : ', b==c)
print('a!=b : ', a!=b)

a>b :  False
a<b :  True
c<=b :  False
a<=b :  True
b==c :  False
a!=b :  True

# Logical operators ( and, or , not )

In [ ]:
#and  => returns true, if both the operands are true , remaining cases false
#or   => returns false, if both the operands are false, remaining cases true
#not  => If value is true, " not " changes to false (vice versa)

a = 10
b = 20
c = 30
print(a<b or a>c)
print(a>b and a>c)
print(a<b and a<c)
print(a<b)
print(not a<b)

True
False
True
True
False

### check whether the given number is positive or not
### if condition

In [ ]:
x = int(input("Enter an Integer : "))
if x>0:
    print('Entered value ',x,' is positive')
print("Program completed")

Enter an Integer : 12
Entered value  12  is positive
Program completed

### check whether a given number is positive or not 
### if,else

In [ ]:
x = int(input('Enter an Integer : '))
if x>0:
    print('Entered integer ',x,' is positive')
else:
    print('Entered integer ',x,' is negative')
print("Program complted.")

Enter an Integer : -589
Entered integer  -589  is negative
Program complted.

### check whether the given number is even or odd
### if , else

In [ ]:
x = int(input('Enter a positive number : '))
if x % 2 == 0 :
    print(x,' is even number')
else:
    print(x,' is odd number')

Enter a positive number24
24  is even number

### check the relationship between two numbers x,y
### if, elif(else if), else

In [ ]:
x = int(input('Enter value of X : '))
y = int(input('Enter value of Y : '))
if x<y:
    print(x,' is lessthan ',y)
elif x>y:
    print(x,' is greaterthan ',y)
else:
    print(x,' is equals to ',y)
print('Program completed.')

Enter value of X : 12
Enter value of Y : 2
12  is greaterthan  2
Program completed.

# Nested if statements

In [ ]:
# comparision of the given numbers x,y 
x = int(input('Enter value of X : '))
y = int(input('Enter value of Y : '))
if x == y:
  print('x is equals to y')
else:
  if x>y:
    print('x is greaterthan y')
  else :
    print('x is lessthan y')
print('Program completed.')

Enter value of X : 3
Enter value of Y : 0
x is greaterthan y
Program completed.

In [ ]:
# nested if vs logical operators
# check whether given number is single digit positive integer or not

x = int(input('Enter an Integer : '))
if x > 0 and x < 10 :
  print('X is single digit positive integer.')
else : 
  print('X is not single digit positive integer')

Enter an Integer : 12
X is not single digit positive integer

In [ ]:
#Find the type of character that the user entered 
ch = input('Enter a charachter : ')
if ch.isalpha():
  print('Entered character is a letter.')
  if ch.islower():
    print('Entered character is in lower case.')
  if ch.isupper():
    print('Entered character is in Upper case.')
elif ch.isdigit():
  print('Entered character is digit.')
elif ch.isspace():
  print("Entered character is Space.")
else: 
  print("Entered character is not a letter, space or digit.")
print("Program completed")

Enter a charachter :
Entered character is Space.
Program completed

In [ ]:
# Accept name of a month and print number of days in that month 
month = input('Enter name of a Month : ')
# Months with 31 days are : January March May July August October December
# Months with 30 days are : April, June, September, November 
# Months with 28 or 29 days are : February
if month == 'January' or month == 'March' or month == 'May' or month == 'July' or month == 'August' or month == 'October' or month == 'December' :
  print(month,' has 31 days')
elif month == 'April' or month == 'June' or month == 'September' or month == 'November' :
  print(month,' has 30 days')
elif month == 'February' :
  print(month, ' has 28 or 29 days')
else :
  print(month,' is invalid Month')

Enter name of a Month : November
November  has 30 days

In [ ]:
# Accept the name of a month and display the season
# Summer : march april may june
# Mansoon : July August September October
# Winter : November December January February

month = input("Enter a month name : ")
if month == 'March' or month == 'April' or month == 'May' or month == "June" :
  print(month,' is in summer season')
elif month == 'July' or month == 'August' or month == 'September' or month == "October" :
  print(month,' is in Mansoon season')
elif month == "November" or month == 'December' or month == 'January' or month == 'February':
  print(month,' is in winter season')
else :
  print(month,' is invalid month.')

Enter a month name : August
August  is in Mansoon season

In [4]:
# Find the greates of three numbers
x = int(input('Enter X value: '))
y = int(input('Enter Y value: '))
z = int(input('Enter Z value: '))
if x > y and x > z :
  print('X is the greatest number')
elif y > x and y > z :
  print('Y is the greatest number')
elif z>x and z>y:
  print('Z is the greatest number')
elif x == y and x == z :
  print('All are equal')

Enter X value: 2
Enter Y value: 2
Enter Z value: 2
All are equal

# End of Week 2