# WEEK-4 Programs & Practice

### Collection DATA TYPES

### 1.Introduction to colletion types

### 2.Lists

In [59]:
# creating a list
l1 =[10,20,30,40]

print('The list l1 is: ',l1)
print('The length of list is: ',len(l1))
print("The data type of l1 is: ",type(l1))

l2 =['Chandu',10,0,20,[45,9]]   #Nested list

print('The list l2 is: ',l2)
print('The length of l2 is: ',len(l2))
print('the data type of l2 is: ',type(l2))
#creating an empty list
student=[]
print('The student list =',student)
#assigning the values in student list
student=['Chandu',45,15.545]
print('The student list =',student)

The list l1 is:  [10, 20, 30, 40]
The length of list is:  4
The data type of l1 is:  <class 'list'>
The list l2 is:  ['Chandu', 10, 0, 20, [45, 9]]
The length of l2 is:  5
the data type of l2 is:  <class 'list'>
The student list = []
The student list = ['Chandu', 45, 15.545]

In [60]:
s = 'Hello world!'
# converting an existing datatype into list
l3=list(s)
print('List Created from s is:',l3)

List Created from s is: ['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [61]:
#to find length of the list
l4=[]
print('The length of L1,L2,L3,L4,S is: ',len(l1),len(l2),len(l3),len(l4),len(s))

The length of L1,L2,L3,L4,S is:  4 5 12 0 12

In [62]:
#accessing elements from the list
print('The student list is : ',student)
print('The Second element of ths list is: ',student[1])
print('The third element of the list is: ',student[2])
print('The last element of the list is: ',student[-1])
print('The second last element of the list is: ',student[-2])
print('The reverse of the list is: ',student[::-1])

The student list is :  ['Chandu', 45, 15.545]
The Second element of ths list is:  45
The third element of the list is:  15.545
The last element of the list is:  15.545
The second last element of the list is:  45
The reverse of the list is:  [15.545, 45, 'Chandu']

In [63]:
#Slicing operations LIST SLICE
s='abcdef'
t=list(s)
print('List t=',t)
print('Elements of 2 to 4',t[1:3])
print('Elements upto 3',t[:4])
print('Elements from 2 to end',t[2:])
print('t[:]',t[:])   #Prints full list of t
print('Reverse of list,',t[::-1]) #Reverse of list

List t= ['a', 'b', 'c', 'd', 'e', 'f']
Elements of 2 to 4 ['b', 'c']
Elements upto 3 ['a', 'b', 'c', 'd']
Elements from 2 to end ['c', 'd', 'e', 'f']
t[:] ['a', 'b', 'c', 'd', 'e', 'f']
Reverse of list, ['f', 'e', 'd', 'c', 'b', 'a']

In [64]:
#modifying list elements
print('list t=',t)
t[5]='z'   #modified 5th value with z
print('list t=',t)  #in list f is replaced with z
t[1:3]=['x','y']
print('list t=',t)  #in list, 1st,2nd index value elements b,c is replaced with x,y

#Concatination of 2 lists

t1=['a','b',12,10.5,'abc']
t2=['x','y',9,45,545]
t3=t1+t2
print('\nThe list t3 is:',t3)

list t= ['a', 'b', 'c', 'd', 'e', 'f']
list t= ['a', 'b', 'c', 'd', 'e', 'z']
list t= ['a', 'x', 'y', 'd', 'e', 'z']

The list t3 is: ['a', 'b', 12, 10.5, 'abc', 'x', 'y', 9, 45, 545]

### Adding Elements into List

In [65]:
#append() function
print(t1)
t1.append('gnc') #gnc will be added in the end of the string
print('The list t1 after appending element into list:',t1)

['a', 'b', 12, 10.5, 'abc']
The list t1 after appending element into list: ['a', 'b', 12, 10.5, 'abc', 'gnc']

In [66]:
#insert() method
print(t1)
t1.insert(2,'y')
print('The list t1 after inserting an element in index value 2:',t1)

['a', 'b', 12, 10.5, 'abc', 'gnc']
The list t1 after inserting an element in index value 2: ['a', 'b', 'y', 12, 10.5, 'abc', 'gnc']

### Removing Elements from List

In [67]:
#remove()
print(t1)
t1.remove('gnc')
print('After removing element y from list t1:',t1)

['a', 'b', 'y', 12, 10.5, 'abc', 'gnc']
After removing element y from list t1: ['a', 'b', 'y', 12, 10.5, 'abc']

In [68]:
#pop() Pop is also used to remove or delete an element from list using index value
t1.pop(4)
print('after poping the index value 4 from t1 is:',t1)

after poping the index value 4 from t1 is: ['a', 'b', 'y', 12, 'abc']

In [69]:
#del() is used to delete elements from a range( 0 to 3 ) like that
del t1[0:2]
print('After deleting 0 to 1 index Values deleted from t1 list:',t1)

After deleting 0 to 1 index Values deleted from t1 list: ['y', 12, 'abc']

### Other list methods

In [70]:
#clear() method is used to clear total list elements
print(t1)
t1.clear()
print('AFTER CLEARING t1 LIST using clear():',t1)

['y', 12, 'abc']
AFTER CLEARING t1 LIST using clear(): []

In [71]:
#copy() methos is used to copy elements from one list to another list
print(t1)
t2.insert(2,'y')
t1=t2.copy()
print('After Copying t2 list to t1:',t1)

[]
After Copying t2 list to t1: ['x', 'y', 'y', 9, 45, 545]

In [72]:
#Count() method is used to count the element how many times repeated
print(t1)
print('count of y in list t1:',t1.count('y'))

['x', 'y', 'y', 9, 45, 545]
count of y in list t1: 2

In [73]:
#extend () is used to extend the list , adding another list elements into different list
print(t1)
print(t3)
t1.extend(t3)
print('After adding list t3 to t1',t1)

['x', 'y', 'y', 9, 45, 545]
['a', 'b', 12, 10.5, 'abc', 'x', 'y', 9, 45, 545]
After adding list t3 to t1 ['x', 'y', 'y', 9, 45, 545, 'a', 'b', 12, 10.5, 'abc', 'x', 'y', 9, 45, 545]

In [74]:
#index() methos is used to return the index value of particular element
print(t1)
print('The index value of y is:',t1.index('abc'))

['x', 'y', 'y', 9, 45, 545, 'a', 'b', 12, 10.5, 'abc', 'x', 'y', 9, 45, 545]
The index value of y is: 10

In [75]:
#reverse() method is used to reverse the order of the list elements
print(t2)
t2.reverse()
print('after the reverse method on t2:',t2)

['x', 'y', 'y', 9, 45, 545]
after the reverse method on t2: [545, 45, 9, 'y', 'y', 'x']

In [76]:
t4=[0,5,1,32,45,9,78,25]
print(t4)
t4.sort()
print('after sorting elements in list t4:',t4)

[0, 5, 1, 32, 45, 9, 78, 25]
after sorting elements in list t4: [0, 1, 5, 9, 25, 32, 45, 78]

### Iterating over a list

In [77]:
name = ['naveen','marif','lokesh','usman','mahesh','sandeep']
for i in name:
    print('Hello '+i)

Hello naveen
Hello marif
Hello lokesh
Hello usman
Hello mahesh
Hello sandeep

In [78]:
name_val = input('Enter a name to search in name list: ')
if name_val in name:
    print('The name',name_val,'is present in name list')
else:
    print('The name',name_val,'is not present in name list')

Enter a name to search in name list: marif
The name marif is present in name list

### 3. Tuple

In [79]:
# tuples are created using  " ( ) "
tup1=(1,3,5,7,9)
print('The tup1:',tup1)
print('The datatype of tup1 is:',type(tup1))

The tup1: (1, 3, 5, 7, 9)
The datatype of tup1 is: <class 'tuple'>

In [80]:
# creating tuples using lists 
list1 = [1,2,3,4,5,6,7,8,9]
print('List1 :',list1)
t1 = tuple(list1)
print('The tuple t1 from list1 is:',t1)
print('The data type of t1 is ',type(t1),'and list1 is:',type(list1))

List1 : [1, 2, 3, 4, 5, 6, 7, 8, 9]
The tuple t1 from list1 is: (1, 2, 3, 4, 5, 6, 7, 8, 9)
The data type of t1 is  <class 'tuple'> and list1 is: <class 'list'>

In [81]:
#accessing elements of a tuple
print(t1)
print('t1[0] is:',t1[0])
print('t1[3] is:',t1[3])
print('t1[5] is:',t1[5])
print('Lenght of tuple t1 is:',len(t1))  #len() is used to define length os tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)
t1[0] is: 1
t1[3] is: 4
t1[5] is: 6
Lenght of tuple t1 is: 9

### Tuple Operations

In [82]:
tup2 = (1,'john',True,10.53,-23.45)
for i in tup2:
    print(i)    #prints all the elements in line

1
john
True
10.53
-23.45

In [83]:
print(tup2)
if 'john' in tup2:
    print('John is persent in tup2')
else:
    print('john is not present in tup2')

(1, 'john', True, 10.53, -23.45)
John is persent in tup2

### Nested tuple

In [84]:
tup1 = (1,3,5,7,9)
tup2 = (1,'john',True,10.53,-23.45)
tup3 = (9,45,tup1,tup2,5.5)       #Nested tuple since tup3 contains tup1,tup2 as elements


print('tup1 :',tup1)
print('tup2 :',tup2)
print('tup3 :',tup3)

tup1 : (1, 3, 5, 7, 9)
tup2 : (1, 'john', True, 10.53, -23.45)
tup3 : (9, 45, (1, 3, 5, 7, 9), (1, 'john', True, 10.53, -23.45), 5.5)

In [85]:
#accessing nested tuples
print('tup3[2]: ',tup3[2])
print('tup[2][2]: ',tup3[2][2])

tup3[2]:  (1, 3, 5, 7, 9)
tup[2][2]:  5

In [86]:
# Comparing tuples

(0,1,220000) < (0,3,4)

# Here, 1st element of tuple1 is compared with 1st element of tuple2
# 0<0 equal then moves to 2nd element of tuple1 and 2nd element of tuple2
# 1<3 True, it closes the opertion, does not check the remaining elements in tuples
# it returns only true'''

True

## 4.Sets

In [87]:
#creating sets
s1 = {1,2,'abc',2.345}
s2 = set()        #s2 is an Empty set
print('s1 : ',s1)
print('s2 : ',s2)
l1 = [1,2,3,4,5]
s3 = set(l1) #converting list l1 into set s3
print('s3 : ',s3)

s1 :  {1, 2, 'abc', 2.345}
s2 :  set()
s3 :  {1, 2, 3, 4, 5}

In [88]:
#iteration on sets
basket= {'apple','banana','orange','apple','pear','orange'}
if 'orange' in basket:
    print('Orange is present in basket')
else:
    print('Orange is not present in basket')

Orange is present in basket

In [89]:
#for loop on sets
for item in basket:
    print(item)

pear
orange
banana
apple

### Adding items to sets

In [90]:
#add()

print('Basket set items : ',basket)
basket.add('apricot')
print('Basket set items after adding Apricot :',basket)

Basket set items :  {'pear', 'orange', 'banana', 'apple'}
Basket set items after adding Apricot : {'banana', 'apple', 'orange', 'apricot', 'pear'}

In [91]:
#update () is used to add more elements 
print(basket)
basket.update(['grapes','watermelon','pine apple'])
print('After updating Basket set is: ',basket)

{'banana', 'apple', 'orange', 'apricot', 'pear'}
After updating Basket set is:  {'banana', 'apple', 'pine apple', 'orange', 'apricot', 'pear', 'watermelon', 'grapes'}

In [92]:
#len() is used to calculate length of the set

print('The length of the basket set is:',len(basket))

The length of the basket set is: 8

In [93]:
#max() and Min() are used to print the max value and min value of the set
s1={0,12,5,3,24,45,9}
print('The maximum value of s1 is: ',max(s1))
print('The minimum value of s1 is: ',min(s1))

The maximum value of s1 is:  45
The minimum value of s1 is:  0

In [94]:
#remove() is used to remove particular element or item from set
print(basket)
basket.remove('grapes')
print('Basket set after removing grapes:',basket)

{'banana', 'apple', 'pine apple', 'orange', 'apricot', 'pear', 'watermelon', 'grapes'}
Basket set after removing grapes: {'banana', 'apple', 'pine apple', 'orange', 'apricot', 'pear', 'watermelon'}

In [95]:
#clear() is used to clear the set and make set empty
print(basket)
basket.clear()
print('Basket set after removing all the items: ',basket)

{'banana', 'apple', 'pine apple', 'orange', 'apricot', 'pear', 'watermelon'}
Basket set after removing all the items:  set()

### Nesting sets

In [96]:
#tuple in a set, only immutable are added as nested sets, list and set are not makes as nested sets

s1 ={1,2,'abc',(22,45,9)}
print(s1)

{1, 2, 'abc', (22, 45, 9)}

### Mathematical set operations

In [97]:
s1 = {'apple','banana','orange'}
s2 = {'grape','lime','banana'}
#union 
print('Union of s1,s2 : ',s1|s2)
#intersection
print('Intersection of s1,s2 : ',s1&s2)
#difference
print('Difference of s1,s2 is : ',s1-s2)
#Symmentric difference
print('Symmetric difference of s1,s2 : ',s1^s2)

Union of s1,s2 :  {'banana', 'grape', 'apple', 'orange', 'lime'}
Intersection of s1,s2 :  {'banana'}
Difference of s1,s2 is :  {'orange', 'apple'}
Symmetric difference of s1,s2 :  {'apple', 'orange', 'lime', 'grape'}

 ### Mathematical set operation in methods

In [98]:
#union 
print('Union of s1,s2 : ',s1.union(s2))
#intersection
print('Intersection of s1,s2 : ',s1.intersection(s2))
#difference
print('Difference of s1,s2 is : ',s1.difference(s2))
#Symmentric difference
print('Symmetric difference of s1,s2 : ',s1.symmetric_difference(s2))

Union of s1,s2 :  {'banana', 'grape', 'apple', 'orange', 'lime'}
Intersection of s1,s2 :  {'banana'}
Difference of s1,s2 is :  {'orange', 'apple'}
Symmetric difference of s1,s2 :  {'apple', 'orange', 'lime', 'grape'}

## 5.Dictionary

In [99]:
#create a dictionary of capitals
capitals = {'Telangana':'Hyderabad','tamilnadu':'chennai','andhrapradesh':'hyderabad',
            'karnataka':'bengaluru','maharastra':'mumbai'}
print('Capitals:',capitals)

Capitals: {'Telangana': 'Hyderabad', 'tamilnadu': 'chennai', 'andhrapradesh': 'hyderabad', 'karnataka': 'bengaluru', 'maharastra': 'mumbai'}

In [100]:
#creating a dictionary from other collection types
#keys are not strings
dict1 = dict(uk='London',ireland='dublin',france='paris')
print("Dict1 : ",dict1)

#KEY VALUE pairs are tuple

dict2 =dict([('uk','london'),('ireland','dublin'),('france','paris')])
print('Dict2 : ',dict2)

#keyvalue pairs are lists

dict3 = dict((['uk','london'],['ireland','dublin'],['france','paris']))
print("Dict3 : ",dict3)

Dict1 :  {'uk': 'London', 'ireland': 'dublin', 'france': 'paris'}
Dict2 :  {'uk': 'london', 'ireland': 'dublin', 'france': 'paris'}
Dict3 :  {'uk': 'london', 'ireland': 'dublin', 'france': 'paris'}

In [101]:
print('The capitals Dictionar is: ',capitals)
print('The capital of andhrapradesh is: ',capitals['andhrapradesh'])

The capitals Dictionar is:  {'Telangana': 'Hyderabad', 'tamilnadu': 'chennai', 'andhrapradesh': 'hyderabad', 'karnataka': 'bengaluru', 'maharastra': 'mumbai'}
The capital of andhrapradesh is:  hyderabad

In [102]:
#adding a new key:value pair to dictionary

capitals['kerala']='thiruvananthapuram'
print('The capitals dictionary after adding kerala: ',capitals)

The capitals dictionary after adding kerala:  {'Telangana': 'Hyderabad', 'tamilnadu': 'chennai', 'andhrapradesh': 'hyderabad', 'karnataka': 'bengaluru', 'maharastra': 'mumbai', 'kerala': 'thiruvananthapuram'}

In [103]:
#modify an existing element
capitals['andhrapradesh']='Amaravathi'
print('The modified dictionary :',capitals)

The modified dictionary : {'Telangana': 'Hyderabad', 'tamilnadu': 'chennai', 'andhrapradesh': 'Amaravathi', 'karnataka': 'bengaluru', 'maharastra': 'mumbai', 'kerala': 'thiruvananthapuram'}

In [104]:
#in and not in operations 

print('Assam' in capitals)
print('assam' not in capitals)

False
True

In [105]:
#len() find lenght of the dictionary
print('The length of dictionary capitals is: ',len(capitals))

The length of dictionary capitals is:  6

In [106]:
#removing items from dictionary
print(capitals)

{'Telangana': 'Hyderabad', 'tamilnadu': 'chennai', 'andhrapradesh': 'Amaravathi', 'karnataka': 'bengaluru', 'maharastra': 'mumbai', 'kerala': 'thiruvananthapuram'}

In [107]:
print('The last item inserted, deleted by popitem() is :',capitals.popitem())

The last item inserted, deleted by popitem() is : ('kerala', 'thiruvananthapuram')

In [108]:
#delete an entry by giving key value

print('The capital of maharastra is:',capitals.pop('maharastra'))

The capital of maharastra is: mumbai

In [109]:
print(capitals)

{'Telangana': 'Hyderabad', 'tamilnadu': 'chennai', 'andhrapradesh': 'Amaravathi', 'karnataka': 'bengaluru'}

In [110]:
del capitals['karnataka']

In [111]:
print(capitals)

{'Telangana': 'Hyderabad', 'tamilnadu': 'chennai', 'andhrapradesh': 'Amaravathi'}

In [112]:
print('Clearing the Dictionary')
capitals.clear()
print(capitals)

Clearing the Dictionary
{}

In [114]:
#iterate over key and values
capitals = {'Telangana':'Hyderabad','tamilnadu':'chennai','andhrapradesh':'hyderabad',
            'karnataka':'bengaluru','maharastra':'mumbai'}
print('Capitals:',capitals)

for state in capitals:
    print(state,end=',')
    print(capitals[state])

Capitals: {'Telangana': 'Hyderabad', 'tamilnadu': 'chennai', 'andhrapradesh': 'hyderabad', 'karnataka': 'bengaluru', 'maharastra': 'mumbai'}
Telangana,Hyderabad
tamilnadu,chennai
andhrapradesh,hyderabad
karnataka,bengaluru
maharastra,mumbai

In [115]:
for cap in capitals:
    print(cap) #Returns key values

Telangana
tamilnadu
andhrapradesh
karnataka
maharastra

In [117]:
for cap in capitals.values():
    print(cap) #returns value values

Hyderabad
chennai
hyderabad
bengaluru
mumbai

In [122]:
print(capitals.values()) #returns only value values
print(capitals.keys())  #returns only key values
print(capitals.items()) #returns items in dictionary

dict_values(['Hyderabad', 'chennai', 'hyderabad', 'bengaluru', 'mumbai'])
dict_keys(['Telangana', 'tamilnadu', 'andhrapradesh', 'karnataka', 'maharastra'])
dict_items([('Telangana', 'Hyderabad'), ('tamilnadu', 'chennai'), ('andhrapradesh', 'hyderabad'), ('karnataka', 'bengaluru'), ('maharastra', 'mumbai')])

### Nested Dictionary

In [129]:
seasons ={'summer':('june','july','august'),'autumn':('september','october','november'),
          'winter':('december','january','february'),'spring':('march','apri;','may')}

print(seasons)
print(seasons['summer'])
print(seasons['winter'][1])

{'summer': ('june', 'july', 'august'), 'autumn': ('september', 'october', 'november'), 'winter': ('december', 'january', 'february'), 'spring': ('march', 'apri;', 'may')}
('june', 'july', 'august')
january

In [130]:
#implement a Histogram and count number of letters in sentance
sentance = input('Enter a sentance: ')
d=dict()
for c in sentance:
    if c not in d:
        d[c]=1
    else:
        d[c]+=1
print('The histogram is: ',d)

Enter a sentance: python has 4 collection data types. list,set,tuple and dictionary
The histogram is:  {'p': 3, 'y': 3, 't': 8, 'h': 2, 'o': 4, 'n': 4, ' ': 8, 'a': 5, 's': 4, '4': 1, 'c': 3, 'l': 4, 'e': 4, 'i': 4, 'd': 3, '.': 1, ',': 2, 'u': 1, 'r': 1}

In [132]:
#implement a histogram and count number of words in sentance
counts=dict()
line=input('Enter a sentance: ')
words=line.split()

for word in words:
    if word not in counts:
        counts[word]=1
    else:
        counts[word]+=1
print('The histogram is:',counts)

Enter a sentance: Python has four collection data types. lists, sets, tuples and dictionary
The histogram is: {'Python': 1, 'has': 1, 'four': 1, 'collection': 1, 'data': 1, 'types.': 1, 'lists,': 1, 'sets,': 1, 'tuples': 1, 'and': 1, 'dictionary': 1}