# Functions

## Built-in Functions

In [1]:
list1 = [3,56,23,33,45,0,10,99]

print('The list is: ',list1)
print('The maximum value of the list is: ',max(list1))
print('The minimum value of list is : ',min(list1))
print('The length of list is : ',len(list1))
print('The type of list1 is : ',type(list1))

The list is:  [3, 56, 23, 33, 45, 0, 10, 99]
The maximum value of the list is:  99
The minimum value of list is :  0
The length of list is :  8
The type of list1 is :  <class 'list'>

In [2]:
#Convert one type into another type
a = 45.25
b = int(a)
c= str(a)

print('a,b,c is : ',a,b,c)
print('Type of a,b,c is :',type(a),type(b),type(c))

a,b,c is :  45.25 45 45.25
Type of a,b,c is : <class 'float'> <class 'int'> <class 'str'>

### Math functions

In [3]:
import math 
n = int(input('Enter an Integer : '))
print('The square root of',n,'is :',math.sqrt(n))

Enter an Integer : 9
The square root of 9 is : 3.0

### Random module

In [6]:
import random
print('The random number betweenn 0 & 1 : ',random.random())

The random number betweenn 0 & 1 :  0.993906766880137

In [14]:
#random number between 2 number 

low = int(input('Enter a low value : '))
high = int(input('Enter a high value :'))
print('a randon Integer between low and high value is : ',random.randint(low,high))

Enter a low value : 5
Enter a high value :78
a randon Integer between low and high value is :  21

In [17]:
#tuple 
t = (1,21,100,25,45,9)
print('The tuple is : ',t)
print('The random value from tuple t is : ',random.choice(t))

The tuple is :  (1, 21, 100, 25, 45, 9)
The random value from tuple t is :  25

## User-Defined Functions

In [8]:
def display_msg():
    '''This function is created and displays Hello world message...'''
    print('Hello World!')      #FUNCTION Definiton
display_msg()                 #FUNCTION CALL
print('This is after function call')
display_msg()
print('The docstring of display_msg1 function is :',display_msg.__doc__)

Hello World!
This is after function call
Hello World!
The docstring of display_msg1 function is : This function is created and displays Hello world message...

In [11]:
# Function which take arguments / parameters
def display_msg1(msg):
    print('The message received is: ',msg)
display_msg1('Hello')
display_msg1('Bye')

The message received is:  Hello
The message received is:  Bye

In [13]:
def square(n):
    res = n * n
    return res
sqr = square(6)
print('The return value is :',sqr)
#change the n value in print statement
print('The return value is : ',square(3))

The return value is : 36
The return value is :  9

In [14]:
#function to return sum of two numbers
def sum_of_num(x,y):
    return x+y
result = sum_of_num(9,45)
print('The sum of two numbers are : ',result)

The sum of two numbers are :  54

In [24]:
#default parameters
def greeter(name,prompt='Welcome',msg = 'to the python programming'):
    print(name,prompt,msg)
greeter('Chandu')
greeter('Chandu',msg='India')
greeter(name='Chandu',msg='Welcome',prompt='Hello')

Chandu Welcome to the python programming
Chandu Welcome India
Chandu Hello Welcome

In [27]:
#arbitrary positional argument functions
def greeter(*args):
    for name in args:
        print('Welcome',name)
greeter("Naveen",'Marif','Lokesh')
greeter('Hyderabad','Ongole','Bengaluru')

Welcome Naveen
Welcome Marif
Welcome Lokesh
Welcome Hyderabad
Welcome Ongole
Welcome Bengaluru

In [31]:
#positional and keyword arguments
def my_function(*args,**kwargs):
    for arg in args:
        print('Arg :',arg)
    for key in kwargs.keys():
        print('Key :',key,'has value',kwargs[key])
my_function('Chandu','Marif','Lokesh',friend1 ='Marif',friend2 = 'Lokesh')

Arg : Chandu
Arg : Marif
Arg : Lokesh
Key : friend1 has value Marif
Key : friend2 has value Lokesh

In [32]:
#only keyword arguments

def names(**kwargs):
    for key in kwargs.keys():
        print('key :',key,'has value',kwargs[key])
names(a=1,b=2,c=3,d=4,e=5,f=6)

key : a has value 1
key : b has value 2
key : c has value 3
key : d has value 4
key : e has value 5
key : f has value 6

### Local variable

In [34]:
def my_function():
    a_variable=100       # local variable created
    print(a_variable)
my_function()
#sprint(a_variable) #accessing local varibale outside function causes error

100

In [36]:
# global variable 

a_var = 200       #globla varible
def my_fun1():
    a_var=100     #local variable
    print('The value of a_var is :',a_var)  #returns local varibale value
my_fun1()
print('The value of a_Var is:',a_var)       #returns global varibale value

The value of a_var is : 100
The value of a_Var is: 200

In [37]:
# accessing global varibale within a fucntion
x = 100
def my_fun2():
    global x
    x+=1
    print('The value of x after increment is:',x)
my_fun2()
print("The value of x is:",x)

The value of x after increment is: 101
The value of x is: 101

In [38]:
# function within a function - nonloacl variables

def func():
    x = 100
    print('X = ',x) #local variable value to func
    def func1():
        nonlocal x
        x += 1
        print('The value of x after incement :',x)
    func1()
func()

X =  100
The value of x after incement : 101

In [44]:
#factorial of a number using recursion
def fact(x):
    if x<=1:
        return 1
    else:
        return x*fact(x-1) #recursive call

n = int(input('Enter a number :'))

print("The factorial of ",n,'is ',fact(n))

Enter a number :1
The factorial of  1 is  1

In [46]:
# anonymous functions / lambda functions
square = lambda i:i*i  #square of i stored in square
print('The square value is ',square(4))

The square value is  16

In [55]:
func0 = lambda : print ('Lambda function with no arguments')
func1 = lambda x:x*x
func2 = lambda x,y:y*x
func3 = lambda x,y,z:x+y+z


func0()
print(func1(4))
print(func2(2,3))
print(func3(4,5,9))

Lambda function with no arguments
16
6
18

In [57]:
# Higher order functions
def apply(x,fun):
    result = fun(x)
    return result
def square(n):
    return n*n
print(apply(4,square))

16

In [58]:
# function which return function as return value

def check(s):
    if s == 'even':
        return lambda n : n%2==0
    elif s == 'positive':
        return lambda n : n>=0
    elif s == 'negative':
        return lambda n : n<0

    
f1 = check('even')
f2 = check('positive')
f3 = check('negative')

print('f1(5) = ',f1(5))
print('f2(5) = ',f2(5))
print('f3(5) = ',f3(5))

f1(5) =  False
f2(5) =  True
f3(5) =  False

In [60]:
#filter ( ) function
data = [1,3,5,2,4,9,8,7,10]
print('Data is:',data)
def is_even(i):
    return i % 2 == 0
#filter for even numbers using filter()
even_data = list(filter(is_even,data))
print('Even numbers are ',even_data)

Data is: [1, 3, 5, 2, 4, 9, 8, 7, 10]
Even numbers are  [2, 4, 8, 10]

In [61]:
# map function

data = [1,4,3,5,2,9,7,10]
print('Data is :',data)
#applying the lambda function to each element in the list using the map function
d1 = list(map(lambda i:i+1,data))
print('The result of map function is:',d1)

Data is : [1, 4, 3, 5, 2, 9, 7, 10]
The result of map function is: [2, 5, 4, 6, 3, 10, 8, 11]

In [63]:
data1 = [1,3,5,7,9]
data2 = [2,4,6,8,10]
result = list(map(lambda x,y:x+y,data1,data2))

print('The result of adding 2 data lists is: ',result)

The result of adding 2 data lists is:  [3, 7, 11, 15, 19]

In [64]:
data = [1,4,3,5,2,9,7,10]
def square(n):
    return n*n
sqr = list(map(square,data))
print('The square of data is:',sqr)

The square of data is: [1, 16, 9, 25, 4, 81, 49, 100]

In [67]:
#reduce function
from functools import reduce
data = [1,4,3,6,8,9]
result = reduce (lambda total,value:total+value,data)
print('The sum of total data: ',result)
result2 = reduce(lambda total,value:total * value,data)
print('The multiplication of data using reduce() :',result2)

The sum of total data:  31
The multiplication of data using reduce() : 5184