# WEEK 3

### WHILE LOOP

In [1]:
# print a message 5 times using while loop
count = 0    #count is variable

while count < 5:
    print('Welcome to the Iterative statements, count = ',count)
    count += 1
print("Outside the While loop")

Welcome to the Iterative statements, count =  0
Welcome to the Iterative statements, count =  1
Welcome to the Iterative statements, count =  2
Welcome to the Iterative statements, count =  3
Welcome to the Iterative statements, count =  4
Outside the While loop

In [2]:
#Print the values from 0 to n-1 , where N value accepts from the user
n = int(input("Enter vlaue of N : "))
count = 0
while count < n :
    print('Count = ',count)
    count += 1

Enter vlaue of N : 1
Count =  0

In [3]:
#Print the values from 1 to n, where N value accepts from the user
n = int(input("Enter value of N : "))
count = 1 
while count <= n :
    print('Count = ',count)
    count += 1

Enter value of N : 1
Count =  1

In [4]:
#print numbers from 0 to 10 with increment of 2
count = 0
while count <= 10:
    print(count)
    count +=2

0
2
4
6
8
10

In [5]:
#print the values starts from m and ends with n, both m,n values are user inputs and with increment of 2
m = int(input("Enter Starting value : "))
n = int(input("Enter ending value: "))
while m <= n:
    print(m)
    m +=2
    
    '''
#IN VIDEO CODE
m = int(input("Enter Starting value : "))
n = int(input("Enter ending value: "))
count = m
while count <= n:
    print(count)
    count +=2
'''

Enter Starting value : 1
Enter ending value: 1
1

In [6]:
#print numbers from 9 to 0

count = 9
while count >= 0:
    print(count)
    count -= 1

9
8
7
6
5
4
3
2
1
0

In [7]:
#EXERCISE
#print numbers from N to M, m,n values are accepted from user

m = int(input('Enter value of m :'))
n = int(input('Enter value of N :'))

while m >= n :
    print(m)
    m -= 1

Enter value of m :1
Enter value of N :1
1

In [8]:
#print numbers from 10 to 0 with decrement of 2
count = 10
while count >=0 :
    print(count)
    count -= 2

10
8
6
4
2
0

In [9]:
#Calculate average of N numbers
n = int(input('Enter N value : '))
sum = 0
count = 0
while count< n:
    num = int(input("Enter a value : "))
    sum += num
    count +=1
avg = sum/n
print("The average of given numbers are : ",avg)

Enter N value : 1
Enter a value : 1
The average of given numbers are :  1.0

## FOR LOOP

In [11]:
# Print a statement  5 times using for loop
for i in range(0,5) : 
    print("Welcome to FOR LOOP ,",i)

Welcome to FOR LOOP , 0
Welcome to FOR LOOP , 1
Welcome to FOR LOOP , 2
Welcome to FOR LOOP , 3
Welcome to FOR LOOP , 4

In [16]:
#Write a for loop to Print numbers from 0 to 9
for i in range (0,10) :    # 0 is the starting value, 10 is ending value (10-1), till 9 it will be printed, 3rd value not mentions it default value is 1 that is increment value
    print('I =',i)
print('Outside the For loop')

I = 0
I = 1
I = 2
I = 3
I = 4
I = 5
I = 6
I = 7
I = 8
I = 9
Outside the For loop

In [15]:
# print numbers from 0 to 10 with an increment of 2
for i in range(0,11,2): # 0 is the strating  value, 11 is the ending value.(11-1) till 10 it will be printed, 2 is the increment value
    print('i =',i)

i = 0
i = 2
i = 4
i = 6
i = 8
i = 10

In [19]:
#print numbers from 10 to 1 using for loop
for i in range(10,0,-1):   # -1 is the decrement value 
    print('i =',i)

i = 10
i = 9
i = 8
i = 7
i = 6
i = 5
i = 4
i = 3
i = 2
i = 1

In [20]:
# Find the average of n numbers
n = int(input("enter the value of n : "))
sum = 0
for i in range (0,n,1):
    num = int(input('Enter a number :'))
    sum += num
avg = sum/n
print('Average of given numbers are : ',avg)

enter the value of n : 5
Enter a number :5
Enter a number :4
Enter a number :3
Enter a number :2
Enter a number :1
Average of given numbers are :  3.0

## BREAK STATEMENT

In [26]:
# example of break statement using while loop
#Print values from 0 to 9
i = 0 
print('Before the While loop')
while i <= 9:
    print('i=',i)
    i += 1
    if i == 7:
        break
print('Outside while loop...')

Before the While loop
i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
Outside while loop...

In [27]:
#example of break statement using for loop
for i in range(0,12):
    print('i=',i)
    if i == 7:
        break
print('Outside FOR LOOP')

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
Outside FOR LOOP

## CONTINUE STATEMENT

In [28]:
# Example to demonstrate Continue statement
for i in range (0,10):
    if i == 7:
        continue
    print('i =',i)

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 8
i = 9

In [31]:
# Example using while statement in continue statement
i = 0
while i < 10:
    print('i=',i)
    i +=1
    if i == 7:
        continue
    
print('Outside for loop')

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9
Outside for loop

## PASS STATEMENT

In [5]:
#Example of PASS Stataement

n = int(input('Enter N value: '))
if n == 10:
    print('Entered value is 10')
    pass
else :
    print('Entered value is not 10.')

Enter N value: 10
Entered value is 10

### ELSE statement with FOR LOOP

In [9]:
for i in range(0,10):
    print('i =',i)
    if i == 6:
        break
else:
    print('All iterations Completed')
print('Outside for loop...')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
Outside for loop...

### Example programs

In [48]:
# Write a program to accept an integer n is greaterthan 10.then print all even numbers from 1 to n

n =  int(input('Enter N value greater than 10 :'))
if n>10:
    for i in range(0,n+1):
        if i % 2==0:
            print(i)
else:
    print('Entered value',n,'is less than 10')

Enter N value greater than 10 :12
0
2
4
6
8
10
12

In [49]:
# Write a program to accept a number n.Determine whether the given number is Prime or NOT

n = int(input('Enter a number: '))
for i in range(2,n):
    if n % i == 0:
        print(n,'is not a prime number')
        break
else :
    print(n,'is a prime number')

Enter a number: 12
12 is not a prime number

In [53]:
#write a program to accept a string and determine whether the given string is a palindrome or not
#examples of palindrome are, civic,nitin,level,madam

str1 = input('Enter a String: ')
rev = str1[::-1]
for i in range(len(str1)):
    if str1[i] != rev[i]:
        print(str1,'is not a palindrome')
        break
else:
    print(str1,'is palindrome')

Enter a String: level
level is palindrome

In [52]:
#write a program to accept a string from user and count the no of spaces
str1 = input('Enter a sentence:')
count = 0
for i in str1:
    if i.isspace():
        count +=1
print('The number of spaces in String is :',count)

Enter a sentence:well, Welcome to Python programming
The number of spaces in String is : 4

In [47]:
#write a program to accept a string from user and count and display no of spaces, lowercase letters, upper case letters, digits 
#and special characters

str1 = input('Enter a sentence:')
others = 0
nospace = 0
nolower = 0
noupper = 0
nodigit = 0
for i in str1:
    if i.isspace():
        nospace += 1
    elif i.isupper():
        noupper += 1
    elif i.islower():
        nolower += 1
    elif i.isdigit():
        nodigit +=1
    else:
        others += 1
    
print('The number of space in sentence is:',nospace)
print('The number of digits in sentence is:',nodigit)
print('The number of lower case letters in sentence is:',nolower)
print('The number of upper case letters in sentence is:',noupper)
print('The number of special characters in sentence is:',others)

Enter a sentence:1. well, Welcome to Python programming.
The number of space in sentence is: 5
The number of digits in sentence is: 1
The number of lower case letters in sentence is: 28
The number of upper case letters in sentence is: 2
The number of special characters in sentence is: 3

In [63]:
#write a program to find out whether a multi word sentence is a palindrome or not

str1 = input('Enter a sentence: ')
str2 = str1.replace(' ','')
rev = str2[::-1]
for i in range(len(str2)):
    if str2[i] != rev[i]:
        print(str1,'is not palindrome')
        break
else: 
    print(str1,'is palindrome')

Enter a sentence: do god
do god is palindrome

In [72]:
#write a program to find out whether a multi word sentence is a palindrome or not by removing special characters
'''str1 = input('Enter a sentence: ')
str2 = str1.replace(' ','')
str2 = str1.replace('?','')
str2 = str1.replace('.','')
str2 = str1.replace(',','')
str2 = str1.replace('!','')
str2 = str1.replace('@','')
str2 = str1.replace('#','')
str2 = str1.replace('$','')
str2 = str1.replace('%','')
str2 = str1.replace('&','')
str2 = str1.replace('*','')
str2 = str1.replace('-','')
str2 = str1.replace('_','')
rev = str2[::-1]
for i in range(len(str2)):
    if str2[i] != rev[i]:
        print(str1,'is not a palindrome.')
        break
else :
    print(str1,'is a palindrome.')'''

"str1 = input('Enter a sentence: ')\nstr2 = str1.replace(' ','')\nstr2 = str1.replace('?','')\nstr2 = str1.replace('.','')\nstr2 = str1.replace(',','')\nstr2 = str1.replace('!','')\nstr2 = str1.replace('@','')\nstr2 = str1.replace('#','')\nstr2 = str1.replace('$','')\nstr2 = str1.replace('%','')\nstr2 = str1.replace('&','')\nstr2 = str1.replace('*','')\nstr2 = str1.replace('-','')\nstr2 = str1.replace('_','')\nrev = str2[::-1]\nfor i in range(len(str2)):\n    if str2[i] != rev[i]:\n        print(str1,'is not a palindrome.')\n        break\nelse :\n    print(str1,'is a palindrome.')"

In [79]:
#write a program to accept a decimal integer and print its binary equilant
q = int(input('Enter the number to convert(Greaterthan 0): '))
result = ''
while q!=0:
    r = q % 2
    result += str(r)
    q //= 2
result = result[::-1]
print('The binary equivalent is:',result)

Enter the number to convert(Greaterthan 0): 121
The binary equivalent is: 1111001

## Console Input

In [3]:
#Split() is used to split the input values based on the spaces

a,b,c = input('Enter a,b and c values : ').split()
print('a=',a)
print('b=',b)
print('c=',c)

Enter a,b and c values : 10 12 14
a= 10
b= 12
c= 14

## Console Output

In [4]:
a,b,c = input('Enter a,b,c values: ').split()
print(a,b,c,sep=',')    #sep = seperator,  the symbol we gave in the seperatore takes as input and seperates using that symbol

Enter a,b,c values: 10 25 45
10,25,45

In [8]:
a,b,c = input('Enter values of a,b,c ').split()
print(a,b,c,sep=':',end='            ') 
#end = end of line, if we not mention it takes as new line, if we mention, it takes based on input,\t tab space,\n new line etc
print('New line')

Enter values of a,b,c 10 25 85
10:25:85            New line

## Formatted output

In [25]:
r,l,b,name = 1.5,4.5,9,'Gadde Naveen Chand'
print(f'radius = {r}')
print(f'length={l}, breadth = {b}, name = {name}')
# for split the name into parts it uses spaces in the string
for i in name.split():
    #print(i)
    print(f'{i:10}') #prints 10 spaces after stirng

radius = 1.5
length=4.5, breadth = 9, name = Gadde Naveen Chand
Gadde
Naveen
Chand

In [38]:
name,age,salary='Naveen chand Gadde',25,30000
print('name={},age={},salary={}'.format(name,age,salary))
print('length = {},breadth={},radius={}'.format(l,b,r))

name=Naveen chand Gadde,age=25,salary=30000
length = 4.5,breadth=9,radius=1.5

In [39]:
print('Name={2},age={1},salary={0}'.format(salary,age,name))
print('length={1},breadth={2},radius={0}'.format(r,l,b))

Name=Naveen chand Gadde,age=25,salary=30000
length=4.5,breadth=9,radius=1.5

In [42]:
#print name with 15 columns and salary with 10 columns

print('name={0:25} , salary={1:10}'.format(name,salary))

name=Naveen chand Gadde        , salary=     30000

In [44]:
#print radius with 10 columns and only 2 decimal spaces
print('radius={0:10.2f}'.format(r))

radius=      1.50

### End of week 3