# Python_Week1

In [38]:
# Python practice week 1 classes, hello world program 10/09/2022 01:07am
print('Hello world')

Hello world

In [39]:
# testing comments
print('single line comments')
print('first line code print statement')
'''
testing the multi-line comments
code will be next to the triple comments
'''
print('multi line comments')
print('multi line code print statement')

single line comments
first line code print statement
multi line comments
multi line code print statement

In [40]:
x=10
print('The value of X :',x)

The value of X : 10

In [41]:
print(x)

10

In [42]:
x = 15.11
print('The value of X:',x)
print ('The data type of X:',type(x))

The value of X: 15.11
The data type of X: <class 'float'>

In [43]:
y=5+2j
print('The value of Y:',y)
print('The Datatype of Y:',type(y))

The value of Y: (5+2j)
The Datatype of Y: <class 'complex'>

## STRINGS

In [44]:
str1 = 'Welcome to Strings (single quoted)'
print('The String str1 = ', str1)

The String str1 =  Welcome to Strings (single quoted)

In [45]:
str2 = "Strings in Double quotes"
print('The  string 2 is : ', str2)

The  string 2 is :  Strings in Double quotes

In [46]:
str3 = ''' String creation using TRIPE QUOTES 
           Welcome to 
           Multi line string'''

print('The string 3 is : ',str3)

The string 3 is :   String creation using TRIPE QUOTES
           Welcome to
           Multi line string

## BOOL Datatype

In [47]:
flag = True
print('The value of Flag : ', flag)
print('The Datatype of Flag : ',type(flag))

The value of Flag :  True
The Datatype of Flag :  <class 'bool'>

In [48]:
flag = False
print('The changed value of flag is : ',flag)
print('the datatype of Flag is : ', type(flag))

The changed value of flag is :  False
the datatype of Flag is :  <class 'bool'>

## Arithmetic Operators

In [49]:
## addition operator (+)

x=10
print('the value of X is : ',x)
x = x + 2
print('The value of X after adding  2 is : ',x)

the value of X is :  10
The value of X after adding  2 is :  12

In [50]:
## minus operator (-)
y = 3
z = x - y
print('The value of Z = ',z,)
print('The datatype of Z is : ',type(z))

The value of Z =  9
The datatype of Z is :  <class 'int'>

In [51]:
# Multiplication Operator (*)
y = y * 2
print('The value of y after multiplication : ',y)

The value of y after multiplication :  6

In [52]:
# Division operator  ( / )
z = x / 5
print('the value of z after Division is: ',z)
print('The Datatype of z : ',type(z))

the value of z after Division is:  2.4
The Datatype of z :  <class 'float'>

In [53]:
## Integer divison ( // ) returns only integer values even it is float value

y = x // 5
print('The value of x is : ', x )
print('The value of y after Division is : ', y )
print('The datatype of y is : ', type(y))

The value of x is :  12
The value of y after Division is :  2
The datatype of y is :  <class 'int'>

In [54]:
## Modular Division ( % )
x = 13
z = x % 2
print('Z : ', z)
x = 17
z = x % 5
print('Z : ', z)

Z :  1
Z :  2

In [55]:
## Exponential Operator ( ** ) means power operator * a power b * 
x = 2
y = 3
z = x ** y
print('The value of Z : ', z)

The value of Z :  8

In [56]:
## Expressions
## Unary Minus operator
x = 10
y = -x
print('The value of X : ',x)
print('The value of Y : ',y)
z = -y
print('The value of Z : ',z)

The value of X :  10
The value of Y :  -10
The value of Z :  10

## video 4

In [57]:
x = 10
y = 20
z = 5
res = x + y * z
print('The result is : ',res)

The result is :  110

In [58]:
res = x - y + z
print('The result : ',res)

The result :  -5

In [59]:
## Assignment operators 
x = 10
y = x
print('The value of x is : ',x, ' The value of y is : ', y)

The value of x is :  10  The value of y is :  10

In [60]:
x += 2
print('The increment vlaue of x is : ',x)

The increment vlaue of x is :  12

In [61]:
x -=3
print('Value of x after decrement : ',x)

Value of x after decrement :  9

In [62]:
x *=2
print('Value of x after Multiply is : ',x)

Value of x after Multiply is :  18

In [63]:
x /=3
print('Value of x after division = ',x)

Value of x after division =  6.0

In [64]:
x = 13
x %= 4
print('Value of x after modula division : ',x)

Value of x after modula division :  1

In [65]:
x = 12
x //=5
print('Value of x after interger division is : ',x)

Value of x after interger division is :  2

In [66]:
x = 6
x **=2
print('Value of x after exponentiation is : ',x)

Value of x after exponentiation is :  36

## INPUT() STATEMENTS

In [67]:
str1 = input('Enter your name : ')
print('The Entered string is : ',str1)
print('Hello ',str1)
print('The datatype of the str1 is :',type(str1))

Enter your name : Chandu
The Entered string is :  Chandu
Hello  Chandu
The datatype of the str1 is : <class 'str'>

In [68]:
## ACCEPT TWO NUMBERS FROM THE USER AND PERFORM ADDITION
num1 = int(input('Enter Num 1 value : '))
num2 = int(input('Enter Num 2 value : '))
res = num1 + num2
print('The SUM of two given numbers are : ',res)

Enter Num 1 value : 12
Enter Num 2 value : 21
The SUM of two given numbers are :  33

In [70]:
## CALCULATE AREA AND CIRCUMFERENCE OF A CIRCLE BY ACCEPTING RADIUS AND INPUT
radius = float(input('Enter radius value : '))
area = 3.14 * radius * radius
circumference = 2 * 3.14 * radius
print('Area of the circle : ',area)
print('Circumference of the circle : ',circumference)

Enter radius value : 54
Area of the circle :  9156.24
Circumference of the circle :  339.12

In [71]:
## ARITHMETIC OPERATIONS ON COMPLEX NUMBERS 
a = 3+8j
b = 10-7j
c = a + b 
print("Value of A is: ",a)
print('Value of B is: ',b)
print('The sum of A,B is : ',c)
d = b - a
print('The difference of A & B is : ',d)

Value of A is:  (3+8j)
Value of B is:  (10-7j)
The sum of A,B is :  (13+1j)
The difference of A & B is :  (7-15j)

## Strings VIDEO 5

## Statements in single line and multiple line

In [72]:
s1 = 10 + 20
s2 = ['a','b','c','d']
s3 = 20 + 30+ \
    40 + 50 + 60+ \
    70+80
s4 = ['a',
     'b',
     'c',
     'd']
print(s1,s2,s3,s4)

30 ['a', 'b', 'c', 'd'] 350 ['a', 'b', 'c', 'd']

In [73]:
# various operationa can be performed on string. a string once defined can only be re-written full
# It cannot be partially changed
# Everytime a operation is done on string, we need to store it another variable to retrive it again
str1 = 'apple is a red fruit'
str2 = 'banana is a yellow fruit'
print(str1 + str2)
print(str1 + ' ' + str2)

apple is a red fruitbanana is a yellow fruit
apple is a red fruit banana is a yellow fruit

In [74]:
print(str1.upper()) #prints statement in uppercase
print(str1)
str4 = str1.upper()
str5 = str1.title() #first letter of everyword is in uppercase
str6 = str1.split() #removes all the spaces and gives the words alone
print(str4,'---',str5,'---',str6)
str7 = str1.lstrip('a') #will remove "a" at the start from string 1
print(str7)
str8 = str1.rstrip('t') #will remove "t" at the end of the string 1
print(str8)
str9 = str1.lstrip('b')
str10 = str1.rstrip('j')
print(str9,'----',str10)

APPLE IS A RED FRUIT
apple is a red fruit
APPLE IS A RED FRUIT --- Apple Is A Red Fruit --- ['apple', 'is', 'a', 'red', 'fruit']
pple is a red fruit
apple is a red frui
apple is a red fruit ---- apple is a red fruit

In [75]:
# Operations on strings
print(str2)
print(str2.islower())
print(str2.isupper())
print(str2.istitle())
print(str2.isdigit())
print('String 2 starts with Banana',str2.startswith('banana'))
print('String 2 ends with Fruit',str2.endswith('fruit'))

banana is a yellow fruit
True
False
False
False
String 2 starts with Banana True
String 2 ends with Fruit True

In [ ]:
print(len(str1),len(str2))

In [77]:
str11 = str1 + str2
print(str11)
print(str11[::-1]) # prints the statement is reverse order
print(str11[::-2]) # removes letter by  letter and prints remaining letters as words in reverse order 
print(str11[::2]) # removes letter by  letter and prints remaining letters as words
print(str11[2:10]) # prints words from 2 to 10 index values
print(str11[2]) # prints the 2nd index value of string a,0 p,1 p,2 l,3 e,4
print(str11.replace(' ','*')) # replaces space with *
print(str11.replace('banana','Mango'))

apple is a red fruitbanana is a yellow fruit
tiurf wolley a si ananabtiurf der a si elppa
tufwle  iaaatufdras lp
apei  e ribnn saylo ri
ple is a
p
apple*is*a*red*fruitbanana*is*a*yellow*fruit
apple is a red fruitMango is a yellow fruit

In [83]:
mystr1 = " hello everyone"
for i in mystr1:
    print(i)

h
e
l
l
o

e
v
e
r
y
o
n
e

In [85]:
for i in enumerate(mystr1):
    print(i)

(0, ' ')
(1, 'h')
(2, 'e')
(3, 'l')
(4, 'l')
(5, 'o')
(6, ' ')
(7, 'e')
(8, 'v')
(9, 'e')
(10, 'r')
(11, 'y')
(12, 'o')
(13, 'n')
(14, 'e')

In [87]:
#string membership
mystr1 = "Hello Everyone"
print('Hello' in mystr1)
print('Everyone' in mystr1)
print('Hi' in mystr1)

True
True
False

In [88]:
str5 = "This is a very long statement and the sentence is stupid"
L = str5.partition('and') # split at first AND
print(L)

('This is a very long statement ', 'and', ' the sentence is stupid')

In [90]:
str5 = "This is a very long statement and the sentence is stupid"
R = str5.rpartition('and') # split at first AND
print(R)

('This is a very long statement ', 'and', ' the sentence is stupid')

In [94]:
str12 ='one one one two four three five ten one six eight seven'
str12.count('one') #counts the word 'one' that how many times repeated

4

In [96]:
## combining string  & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = 'cost of item 1 ,item 2 ,item 3 are {},{},and {}'
print(res.format(item1,item2,item3))
res='cost of item 3,item 2, item 1 are {2},{1} and {0}'
print(res.format(item1,item2,item3))

cost of item 1 ,item 2 ,item 3 are 40,55,and 77
cost of item 3,item 2, item 1 are 77,55 and 40

In [97]:
str2='python is a nice programming language'
print(str2.center(100))
print(str2.center(150))
print(str2.center(200))
print(str2.center(100,'*'))
print(str2.rjust(100))
print(str2.ljust(50))

                               python is a nice programming language
                                                        python is a nice programming language
                                                                                 python is a nice programming language
*******************************python is a nice programming language********************************
                                                               python is a nice programming language
python is a nice programming language

In [98]:
mystr6="123456789"
print(mystr6.isalpha()) #returns true if all the characters in the text are letters
print(mystr6.isalnum()) #return true if a string contains only letters or numbers or both
print(mystr6.isdecimal()) #returns true if all the characters are decimals(0-9)
print(mystr6.isnumeric()) #returns true if all the characters are numeric(0-9)

False
True
True
True

In [99]:
mystr7="abcdef"
print(mystr7.isalpha()) #returns true if all the characters in the text are letters
print(mystr7.isalnum()) #return true if a string contains only letters or numbers or both
print(mystr7.isdecimal()) #returns true if all the characters are decimals(0-9)
print(mystr7.isnumeric()) #returns true if all the characters are numeric(0-9)

True
True
False
False

In [100]:
mystr8="abc123"
print(mystr8.isalpha()) #returns true if all the characters in the text are letters
print(mystr8.isalnum()) #return true if a string contains only letters or numbers or both
print(mystr8.isdecimal()) #returns true if all the characters are decimals(0-9)
print(mystr8.isnumeric()) #returns true if all the characters are numeric(0-9)

False
True
False
False

In [101]:
mystr9 = 'ABCDEF'
print(mystr9.isupper())
print(mystr9.islower())
mystr10 = 'abcdef'
print(mystr10.isupper())
print(mystr10.islower())

True
False
False
True

# WEEK 1 CHALLENGES

In [ ]:
name = 'Gadde Naveen chand'
mail = 'naveenchand.benny@gmail.com'
print('Name:',name)
print('Emain:',mail)

In [ ]:
name= input('Enter your name')
print('Hello',name)

In [ ]:
radius =float(input('Enter radius value'))
'''area of circel formula 3.14 * r *r '''
'''circumference of circle 2 * 3.14 * r'''
area = 3.14 * r * r
circum = 2 * 3.14 * r
print ('Area of circle :',area)
print('Circumference of circle:',circum)

In [ ]:
r =float(input('Enter radius value')) # r=radius
'''area of circel formula 3.14 * r *r '''
'''circumference of circle 2 * 3.14 * r'''
area = 3.14 * r * r
circum = 2 * 3.14 * r
print ('Area of circle :',area)
print('Circumference of circle:',circum)

In [ ]:
# length = l
# breadth = b

l = float(input('Enter Length of a rectangle : '))
b = float(input('Enter breadth of a rectangle : '))
area = l * b
perimeter = 2 * ( l + b )
print (' Area of rectangel : ',area)
print(' Perimeter of rectangle : ',perimeter)

In [ ]:
#side = s
s =float(input('Enter a side of a square : '))
area=s**s
perimeter=4*s
print('Area of a Square : ',area)
print('Perimeter of a Square : ',perimeter)

In [ ]:
#fahrenheit = fh
#centigrade = cl
fh =float(input('Enter temperature in Fahrenheit : '))

# formula for converting fahrenheit to centigrade is ( (Fh - 32) * 5/9 )
cl = ((fh - 32)* 5/9)
print('Converted temperature from Fahrenheit to Centigrade is : ',cl)

#program to convert the temperature from centigrade to fahrenheit 

#formula to convert centigrade to fahrenheit ( (cl * 9/5) + 32)
cl = float(input('Enter temperature in Centigrade : '))

fh = ( (cl * 9/5) + 32)

print('Converted temperature from centigrade to fahrenheit : ',fh)

In [ ]:
#complex numbers are stored in cp1,cp2
cp1 = complex(input('Enter complex number 1 : '))
cp2 = complex(input('Enter complex number 2 : '))
add = cp1 + cp2
sub = cp1 - cp2
mul = cp1 * cp2
print ('Addition of two complex numbers : ',add)
print ('Subtraction of two complex numbers : ',sub)
print('Multiplication of two complex numbers : ',mul)

In [ ]:
#dearness allowance = da
#house rent allowance = hra
#gross salary = gross
#Salary = sal

name = input('Enter name of the Employee : ')
sal = float(input('Enter Basic salary : '))
da = (40/100) * sal
print('Dearness allowance is : ',da)
hra = (20/100) * sal
print('House rent allowance is : ',hra)
gross = sal + da + hra
print('Gross salary is : ',gross)

In [ ]:
n = int(input('Enter N value : '))
#assume sum of all integers = sumint
sumint = (n)*(n+1)/2
print('all integers are:',sumint)

In [ ]:
a = int(input('Enter value of A :'))
b = int(input('Enter value of B :'))
add = a + b
sub = a - b
mul = a * b
div = a / b
rem = a % b
result = a ** b
print ('The sum of a and b is :',add)
print ('The difference when b is subtracted from a :',sub)
print ('The product of a and b :',mul)
print ('The quotient when a is divided by b :',div)
print ('The remainder when a is divided by b :',rem)
print ('The result of a power b :',result)